---
const today = new Date();
---
<div class="footer-line">
    <p>&copy; {today.getFullYear()} Aristeu Escobar</p>
</div>

<style>
    .footer-line p {
        font-family: "Atkinson", sans-serif;
        font-weight: bold;
        color: rgb(85, 158, 84);
        font-size: 1em;
        line-height: var(--footer-height);
        margin: 0;
        text-align: center;
    }

</style>
